body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, main, footer {
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}
